.modal {
  position: relative;
  width: 100%;
  background-color: black;
  height: 100%;
}

.modalWrapper {
  position: absolute;
  left: 50%;
  z-index: 999;
  top: 50%;
  transform: translate(-50%, -50%);
}
