.wrapper {
  max-width: 600px;
  border: black solid 1px;
  margin: 0 auto;
}

.wrapper a {
  color: rgb(43, 43, 43);
  text-decoration: underline;
  cursor: pointer;
}

.wrapper code {
  background-color: rgba(#616161, 0.1);
  border-radius: 0.25em;
  box-decoration-break: clone;
  color: #616161;
  font-size: 0.9rem;
  padding: 0.25em;
}

.wrapper code {
  background-color: rgba(#616161, 0.1);
  color: #616161;
}

.wrapper pre {
  background: #0d0d0d;
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}

.wrapper pre code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}

.wrapper img {
  max-width: 100%;
  height: auto;
}

.wrapper blockquote {
  padding-left: 1rem;
  border-left: 2px solid rgba(#0d0d0d, 0.1);
}

.wrapper hr {
  text-align: center;
  width: 100%;
  display: block;
  border: none;
}

.wrapper hr:before {
  line-height: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 400;
  font-size: 25px;
  letter-spacing: 18px;
  content: "...";
  display: inline-block;
  margin-left: 0.6em;
  position: relative;
  color: #4a4a4a;
  top: -3px;
}
